
    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog,
div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark,
menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s,
samp, section, small, span, strike, strong, sub, summary, sup, table, tbody,
td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    border: 0;
    margin: 0;
    padding: 0;
}


body, html{
    background-color: white;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}



article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}


b, strong {
    font-weight: 700
}

ol, ul {
    list-style: none
}

li {
    display: list-item;
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, td, th {
    font-weight: 400;
    vertical-align: top;
    text-align: left
}

q {
    quotes: none
}

a {
    text-decoration: none;
}

a:hover{
}

q:after, q:before {
    content: '';
    content: none
}

small, sub, sup {
    font-size: 20%;
}

sub, sup {
    line-height: 1;
    left: -18px;
    position: relative;
    vertical-align: relative;
}

sub {
    bottom: -.35em
}

sup {
    top: -.80em;
    font-size: 0.25em;
    font-weight: 400;
}

svg {
    overflow: hidden;
}

input, button, submit { 
    border:none; }

@font-face {
    font-family: untitled-sans-italic;
    src: url(assets/fonts/UntitledSansWeb-RegularItalic.woff);
}

@font-face {
    font-family: untitled-serif-italic;
    src: url(assets/fonts/UntitledSerifWeb-RegularItalic.woff2);
}

@font-face {
    font-family: untitled-sans;
    src: url(assets/fonts/UntitledSansWeb-Regular.woff2);
}

@font-face {
    font-family: untitled-serif;
    src: url(assets/fonts/UntitledSerifWeb-Regular.woff2);
}




@media only screen and (min-device-width : 579px) and (max-device-width : 5000px) {

h1 {
    color: black;
    font-weight: 100;
    line-height: .9;
    letter-spacing: -0.07em;
    font-size: 20vw;
    font-family: "untitled-sans", "Arial", sans-serif;
}


h2 {
    color: black;
    font-weight: 200;
    line-height: 1.2;
    font-size: 2.5vw;
    letter-spacing: -0.05em;
    font-family: "untitled-sans", "Arial", sans-serif;
}

h2:hover{
/*    font-family: "untitled-sans-italic";*/
}

h3{
    color: black;
    font-weight: 200;
    line-height: 1.2;
    font-size: 5vw;
/*    letter-spacing: -0.03em;*/
    font-family: "untitle-sans", "Arial", sans-serif;
}

h4{
    color: black;
    font-weight: 100;
    line-height: 1;
    letter-spacing: -0.05em;
    font-size: 8vw;
    font-family: "untitled-serif", "Arial", sans-serif;
}

h4:hover{
    font-style: normal;
}

h5{
     color: black;
    font-weight: 200;
    line-height: 1.2;
    font-size: 3vw;
    letter-spacing: 0em;
    font-family: "untitled-sans", "Arial", sans-serif;
}


h6 {
    color: black;
    font-weight: 100;
    line-height: .9;
    letter-spacing: -0.0em;
    font-size: 20vw;
    font-family: "untitled-serif", "Arial", sans-serif;
}


p {
    font-family: "untitled-serif", "Times", serif;  
    color: black;
    font-weight: 100;
    font-variant: normal;
    font-size: 15px;
    line-height: auto;
}

.container{
    background-color: darkseagreen;
    width: 100vw;
    height: 100vw;
}


.c1{
    float: left;
    padding: 20px;
    margin-bottom: 10vw;
    width: calc(100vw - 70px);
}

.c2{
    float: left;
    margin-left: 30vw;
    margin-top: 5vw;
    margin-right: 60vw;
    margin-bottom: 5vw;
}

.c3{
    float: left;
    bottom: 0px;
    padding: 20px;
    margin-left: 20vw;
    width: 40vw;
    margin-bottom: 15vw;
}

.c4{
    float: left;
    bottom: 0px;
    padding: 20px;
    margin-left: 0vw;
    margin-bottom: 10vw;
}

.c5{
    float: left;
    margin-top: 0px;
    margin-left: 40vw;
    margin-bottom: 100px;
}
    
.c6{
    float: left;
    padding: 20px;
    width: 25vw;
    margin-right: 3vw;
    }
    
.c7{
    float: left;
    padding: 20px;
    width: 25vw;
    margin-right: 3vw;
    
    }
    
.about{
    position: fixed;
    bottom: 20px;
    left: 20px;
        
    }

.image-1{
    width: calc(67vw - 40px);
    padding: 20px;
    margin-left: 30vw;
    float: left;
}


.image-2{
    width: calc(40vw - 10px);
    padding: 20px;
    float: left;
    margin-left: 10vw;
    margin-right: 50vw;
}



.image-3{
    width: calc(40vw - 10px);
    padding: 20px;
    float: left;
    margin-left: 58vw;

}
    




.intro{
    float: left;
    width: 20vw;
    margin-bottom: 100px;
    margin-left: 70vw;
    margin-top: 10vw;
    padding: 20px;
}

.description-1{
    float: left;
    width: 10vw;
    margin-bottom: 5vw;
    margin: 20px;
}


.description-2{
    float: left;
    width: 18vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    padding: 20px;
}

.description-3{
    float: left;
    width: 10vw;
    margin-bottom: 100px;
    padding: 20px;
}

.description-4{
    float: left;
    width: 15vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    padding: 20px;
}
    
    .description-margin-1{
        margin-left: 30vw;
    }
    
      .description-margin-2{
        margin-left: 10vw;
    }


.fixed{
    position: fixed; 
}

.home{
    float: left;
    position: fixed;
    right: 0px;
    top: -10px;
    padding: 20 20 00 20px;
    text-decoration: none;
    z-index: 1;
}

.indent{
    margin-left: 3vw;
}

.b-indent{
    float: right;
/*    margin-left: 25vw;*/
}


}




@media only screen and (max-width: 550px)

{
    
    
body{
/*        background-color: red;*/
    }

p{
    line-height: inherit;
    font-family: "untitled-serif";
}
    
    
h1{
    font-size: 45vw;
    color: black;
    font-weight: 100;
    line-height: .9;
    letter-spacing: -0.05em;
    font-family: "untitled-sans", "Helvetica", "Arial", sans-serif;
}
    
h2{
    font-size: 5vw;
    color: black;
    font-weight: 100;
    line-height: .9;
    letter-spacing: -0.05em;
    font-family: "untitled-sans", "Helvetica", "Arial", sans-serif;
}
    
h4{
    font-size: 7vw;
    font-family: "untitled-serif", "Helvetica", "Arial", sans-serif;
    }
    
h6{
    color: black;
    font-weight: 100;
    line-height: .9;
    letter-spacing: -0.02em;
    font-size: 45vw;
    font-family: "untitled-serif", "Times New Roman", serif;

}
    
.image-1{
        width: calc(100vw - 40px);
        margin-top: 50px;
}
    
.image-2{
    width: calc(100vw - 40px);
    float: left;
    margin-top: 50px;
}
    
    
    
.c1{
    transform: rotate(-90deg);
    float: left;
    padding: 20px;
    margin-bottom: 30vw;
    margin-top: 30vw;
    width: calc(100vw - 70px);
} 

.c2{
    float: left;
    margin-left: 20px;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
    
    
.c4{
        margin-left: 20px;
        padding: 0px;
}
    
    
.c5{
        margin: 20px;
        margin-top: 50px;
        margin-right: 40px; 
    }    
    
.c6{
        margin: 20px;
        margin-top: 50px;
        margin-right: 40px;
    }    
    
    
.c7{
        margin: 20px;
        margin-right: 40px;
        
    }
    
    .home{
        float: right;
        margin: 15px;
        position: fixed;
        right: 0px;
    }
    
.about{
        float: left;
        margin-left: 20px;
    }
    
.b-indent{
    float: right;
}
    
.description-1{
    float: left;
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;

}
    
.description-2{
    float: left;
    width: 60vw;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 40px;
    padding-bottom: 0px;
}
    
    .indent{
        margin-left: 30px;
    }


    
}

